body {
    margin-left: 160px;
    margin-right: 160px;
}

header {
    display: flex;
    justify-content: space-between;
    margin-bottom: 200px;
}

header span {
    margin-right: 60px;
}

.profile {
    display: flex;
    justify-content: space-between;
    margin-bottom: 200px;
}

.profile img {
    border-radius: 50%;
    border: 9px solid transparent;
    background-image: linear-gradient(to bottom, #E70FAA, #00C0FD, #E70FAA);
}

.hi {
    color: #42446E;
}

.tech {
    text-align: center;
    margin-bottom: 200px;
}

.projects {
    text-align: center;
}

.project {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    row-gap: 24px;
    column-gap: 24px;
    margin-bottom: 200px;
}

.card {
    width: 100%;
    box-shadow: 0px 0px 20px #d9d9d9;
    border-radius: 20px;
    overflow: hidden;
}

.links {
    display: flex;
    justify-content: space-between;
}

.content {
    padding: 32px;
}

.info {
    display: flex;
    justify-content: space-between;
    margin-bottom: 48px;
}

.info div span {
    margin-right: 24px;
}

.title {
    color: #42446E;
}

.des {
    color: #666666;
}