@font-face {
  font-family: "Pretendard-Regular";
  src: url("https://cdn.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Regular.woff")
    format("woff");
  font-weight: 400;
  font-style: normal;
}

body {
  margin-left: 10%;
  margin-right: 10%;
}

body * {
  font-family: "Pretendard-Regular";
}

header {
  width: 100%;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  margin-bottom: 20px;
  margin-top: 20px;
}

header div {
  display: flex;
  align-items: center;
}

header img {
  margin: 0 12px;
}

header span {
  margin: 0 24px;
  font-weight: 500;
}

.profile {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 200px 0;
}

.profile img {
  border-radius: 50%;
  border: 9px solid transparent;
  background-image: linear-gradient(to bottom, #e70faa, #00c0fd, #e70faa);
  width: 240px;
  height: 240px;
  object-fit: cover;
}

.hi {
  color: #42446e;
  font-weight: 700;
  font-size: 48px;
  line-height: 70px;
}

.hi span {
  background: linear-gradient(to right, #13b0f5, #e70faa);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.tech {
  text-align: center;
  padding-bottom: 240px;
}

.stackimg {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 48px;
}

.stackimg img {
  width: 120px;
  height: 120px;
}

.projects {
  text-align: center;
}

.project {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  row-gap: 24px;
  column-gap: 24px;
  margin-bottom: 200px;
}

.card {
  width: 100%;
  box-shadow: 0px 0px 20px #d9d9d9;
  border-radius: 20px;
  overflow: hidden;
}

.links {
  display: flex;
  justify-content: space-between;
}

.links div {
  display: flex;
  align-items: center;
  gap: 4px;
}

.content {
  padding: 24px;
}

.content p {
  text-align: left;
  margin-bottom: 24px;
}

.contenttitle {
  font-weight: 600;
  font-size: 20px;
}

.contentdes {
  color: #666666;
  font-weight: 300;
}

.contentts {
  color: #666666;
  font-weight: 400;
}

.info {
  display: flex;
  justify-content: space-between;
  margin-bottom: 48px;
}

.info div span {
  margin-right: 24px;
}

.title {
  color: #42446e;
  font-weight: 700;
  font-size: 48px;
  padding-bottom: 24px;
}

.des {
  color: #666666;
  font-weight: 400;
  font-size: 24px;
  padding-bottom: 120px;
}
